<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529889488240-oa7apv521iqvrirecakrj2gfj08vu7hp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529889488240-oa7apv521iqvrirecakrj2gfj08vu7hp</string>
	<key>API_KEY</key>
	<string>AIzaSyCz3rP-n9kRJIuZhqr2njvyeR6wKf_WYrU</string>
	<key>GCM_SENDER_ID</key>
	<string>529889488240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.egemenkarakaya.BodyMassIndex-App</string>
	<key>PROJECT_ID</key>
	<string>bodymassindex-fb291</string>
	<key>STORAGE_BUCKET</key>
	<string>bodymassindex-fb291.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529889488240:ios:c10277fc95baac01e573b5</string>
</dict>
</plist>